<div class="img3"> <!-- Change go bgr-url attr> -->
    <div class="halfinvis"></div>
    <div class="halfdiv">
        <h4 class="text-center trip-name"></h4>
        <ul>
            <li class="trip-dates"></li>
            <li class="trip-price"></li>
            <!-- <li>Залишилось місць <span class="trip-tickets-available"></span></li> -->
        </ul>
        <div class="text-center">
        <a class="trip-link" href="./trip_ditale.html"><button type="button" class="btn btn-outline-secondary btn-sm mybtnclass">детальніше</button></a>
        <button id="trip3" type="button" class="btn btn-secondary btn-sm ">приєднуюсь</button>
        </div>
    </div>
</div>